.offers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px; /* Increased padding */
    margin-top: 35px; /* Added top margin */
    background-color: #f9f9f9;
}

.offers-left {
    flex: 1;
    padding-right: 20px;
}

.offers-left h1 {
    font-size: 36px;
    margin: 0;
    color: #333;
}

.offers-left p {
    font-size: 18px;
    color: #666;
    margin: 20px 0;
}

.offers-left button {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.offers-left button:hover {
    background-color: #ff4500;
}

.offers-right {
    flex: 1;
    text-align: right;
}

.offers-right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .offers {
        flex-direction: column;
        text-align: center;
    }

    .offers-left {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .offers-left h1 {
        font-size: 28px;
    }

    .offers-left p {
        font-size: 16px;
    }

    .offers-left button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .offers-right {
        text-align: center;
    }
}
